<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DORMEntities" connectionString="metadata=res://*/DataAccess.Model1.csdl|res://*/DataAccess.Model1.ssdl|res://*/DataAccess.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ICSNK3BD3\SQLEXPRESS;Initial Catalog=DORM;User ID=dm1;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>


    <!-- Crystal -->

    <!-- SAP -->
    <add key="SAP_ASHOST" value="192.168.80.80" />
    <add key="SAP_SYSNR" value="00" />
    <add key="SAP_CLIENT" value="999" />
    <add key="SAP_USER" value="emis" />
    <add key="SAP_PASSWD" value="emis2009" />
    <add key="SAP_LANG" value="TH" />

    <!-- End Crystal -->
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
</configuration>